/* start */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
/* helpars */
.bgColor1 {
    background-color: #141922;
}
.colorWhite {
    color: white;
}
.colorGray {
    color: #797C80;
}
.colorBlack {
    color: black;
}

.opacity07{
    opacity: 0.7;
}
.fontSize10px {
    font-size: 10px;
}
.fontSize12px {
    font-size: 12px;
}
.textAlignCenter {
    text-align: center;
}
.paddingTop1Em{
    padding-top: 1em;
}
.padding1Rem {
    padding: 1rem;
}

.paddingTop1rem {
    padding-top: 1rem;
}
.paddingX04Rem {
    padding: 0.4rem 0;
}
.paddingX1_5Rem{
    padding: 1.5rem 0;
}

.marginTop1rem {
    margin-top: 1rem;
}

.marginTop2rem {
    margin-top: 2rem;
}
.marginBottom1_5Rem{
    margin-bottom: 1.5rem;
}
.marginBottom90px {
    margin-bottom: 90px;
}

.margin0Auto {
    margin: 0 auto;
}
.width100{
    width: 100%;
}

.flex {
    display: flex;
}
.column {
    flex-direction: column;
}
.wrap  {
    flex-wrap: wrap;
}

.gap05Rem {
    gap: 0.5rem;
}
.gap1Rem{
    gap: 1rem;
}
.gap2Rem-1Rem {
    gap: 2rem 1rem;
}

.justifyFlexEnd{
    justify-content: flex-end;
}
.justifySpaceBetween {
    justify-content: space-between;
}
.justifyCenter {
    justify-content: center;
}
.xsAlignItemCenter {
    align-items: center;
}
.alignItemCenter {
    align-items: center;
}
.positionFixed{
    position: fixed;
}

body>div {
    height: calc( 100vh - 90px);
}
.overflowYAuto {
    overflow-y: auto;
}
.overflowYnone {
    overflow: none;
}
.borderRadius50 {
    border-radius: 50%;
}

/* aside */
aside {
    width: 50px;
    background-color: #000000fa;
    z-index: 3;
}

#profile {
    background-color: #808080 ;
    height: 26px;
    width: 26px;
    border-radius: 50%;

}
#imgSmall {
    width: 16px;
    margin-left: -3px;
}
#Logo {
    display: none;
}

aside img {
    width: 26px;
}
.height300px {
    height: 300px;
}
/* header */
header {
    top: 0;
    right: 0;
    width: 100%;
    z-index: 2;
}
.bgHeader {
    background-color: #080B12fa;
}
#headerButton {
    background-color: #080B12fa;
    padding: 1em 3em;
    border-color: white;
    border-radius: 1000px;
}

aside span {
    display: none;
}
.xsDisplayNone {
    display: none;
}



/* main */
.marginTop50px {
    margin-top: 82px;
}
main {
    width: calc(100% - 50px);
}
.cardSong {
    width: calc(100% / 2 - 1rem);
}
.heightFill {
    height: 100%; 
}


/* footer */

footer {
    height: 90px;
    background-color: #282828;
    bottom: 0;
    width: 100%;
    z-index: 1000;
}

@media screen and (min-width: 639px){
    aside{ width: 230px;

    }
    .s-AlignItemsFlexStart{
        align-items: flex-start;
    }
    #profile{
        display: none;
    }
    #imgSmall{
        display: none;

    }
    #logo-small{
        display: none;
    }
    #Logo {
        display: block;
        height: 44px;
        width: auto;
        margin-bottom: 1.5rem;
       
    }
    .lineHeight26px {
        line-height: 26px;
    }
    .verticalAlignSuper {
        vertical-align: super;
    }
    aside span {
        display: inline;
    }
    .sDisplayFlex {
        display: flex;
    }
    .s-justifyContentFlexStart {
        justify-content: flex-start;
    }
    .squareAddPlaylist {
        height: 40px;
        width: 40px;
        background-color: #797C80;

    }
    .sPadding1Rem{
        padding: 1rem;
    }
    .height60px {
        height: 40px;
    }
}


@media screen and (min-width: 1095px) {
    .cardSong {
        width: calc(100% / 4 - 1rem);
    }








}