/* start */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
/* helpars */
.bgColor1 {
    background-color: #141922;
}
.colorWhite {
    color: white;
}
.colorGray {
    color: #797C80;
}
.colorBlack {
    color: black;
}

.opacity07{
    opacity: 0.7;
}
.fontSize10px {
    font-size: 10px;
}
.fontSize12px {
    font-size: 12px;
}
.textAlignCenter {
    text-align: center;
}
.paddingTop1Em{
    padding-top: 1em;
}
.padding1Rem {
    padding: 1rem;
}

.paddingTop1rem {
    padding-top: 1rem;
}
.paddingX04Rem {
    padding: 0.4rem 0;
}
.paddingX1_5Rem{
    padding: 1.5rem 0;
}

.marginTop1rem {
    margin-top: 1rem;
}

.marginTop2rem {
    margin-top: 2rem;
}
.marginBottom1_5Rem{
    margin-bottom: 1.5rem;
}
.marginBottom90px {
    margin-bottom: 90px;
}

.margin0Auto {
    margin: 0 auto;
}

.width90 {
    width: 90;
}
.width100{
    width: 100%;
}

.heightFill {
    height: 100%; 
}

.flex {
    display: flex;
}
.column {
    flex-direction: column;
}
.wrap  {
    flex-wrap: wrap;
}

.gap05Rem {
    gap: 0.5rem;
}
.gap1Rem{
    gap: 1rem;
}
.gap2Rem-1Rem {
    gap: 2rem 1rem;
}
.alignItemFlexEnd  {
    align-items: flex-end;
}

.justifyFlexEnd{
    justify-content: flex-end;
}
.justifySpaceBetween {
    justify-content: space-between;
}
.justifyCenter {
    justify-content: center;
}
.xsAlignItemCenter {
    align-items: center;
}
.alignItemCenter {
    align-items: center;
}
.positionFixed{
    position: fixed;
}

body>div {
    height: calc( 100vh - 90px);
}
.overflowYAuto {
    overflow-y: auto;
}
.overflowYnone {
    overflow: none;
}
.borderRadius50 {
    border-radius: 50%;
}

.width30vw {
    width: 22vw;
}

.width40vw {
    width: 30vw;
}

.colorGray:hover{
    color: white ;
}

.hoverWhite:hover .squareAddPlaylist{
    background-color: white ;
}
.hoverWhite:hover .colorGray{
    color: white ;
}

.marginBottom08Rem{
    margin-bottom: 0.8rem;
}

.hoverScale:hover {
    transform: scale(1.2);
}

.scale1_5 {
    scale: 1.5;
}

.hoverGreen:hover {
    background-color: #ADFF2F;
}
.whiteSfere {
    background-color: white;
    height: 18px;
    width: 18px;
    border-radius: 50%;
    display: none;
}
.hoverGreen:hover .whiteSfere {
    display: block;
}

.forceAlign {
    margin-left: 5px;
    margin-bottom: 8px;
}
.cardSong:hover img{
    opacity: 0.4;
}
.cardSong:hover .playAbsolute{
    opacity: 1;
}



/* aside */
aside {
    width: 50px;
    background-color: #000000fa;
    z-index: 3;
}

#profile {
    background-color: #808080 ;
    height: 26px;
    width: 26px;
    border-radius: 50%;

}
#imgSmall {
    width: 16px;
    margin-left: -3px;
}
#Logo {
    display: none;
}

aside img {
    width: 26px;
}
.height300px {
    height: 300px;
}
.alignSelfFlexEnd {
    align-self: self-end ;
}
hr{
    border: 1px  solid  #797C80;
}
.height6px {
    height: 6px;
}
/* header */
header {
    top: 0;
    right: 0;
    width: 100%;
    z-index: 2;
}
.bgHeader {
    background-color: #080B12fa;
}
#headerButton {
    background-color: #080B12fa;
    padding: 1em 3em;
    border-color: white;
    border-radius: 1000px;
}

aside span {
    display: none;
}
.xsDisplayNone {
    display: none;
}
#headerButton:hover {
    transform: scale(1.2);
    margin-right: 22px;
}



/* main */
.marginTop50px {
    margin-top: 82px;
}
main {
    width: calc(100% - 50px);
}
.cardSong {
    width: calc(100% / 2 - 1rem);
}

.positionRelative {
    position: relative;
}

.positionAbsolute {
    position: absolute;
    bottom: 18px;
    right: calc(50% - 15px) ;
}
.playAbsolute {
    position: absolute;
    top: calc(50% - 8px);
    right: calc(50% - 8px);
    scale: 5;
    opacity: 0;
    
}
.borderGreen {
    height: 3px;
    width: 30px;
    background-color: #ADFF2F;
}


/* footer */

footer {
    height: 90px;
    background-color: #282828;
    bottom: 0;
    width: 100%;
    z-index: 1000;
}

.square40-40{
    height: 40px;
    width: 40px;
}

.maxWidth180px {
    max-width: 300px;
}


.padding02Rem {
    padding: 0.4rem;
}

.padding05Rem {
    padding: 0.5rem;
}

.bgColorGray {
    background-color: gray;
}
.borderRadius3 {
    border-radius: 3px;

}
.bgColorWhite {
    background-color: white;
}
/* 
.height60px {
    height: 60px;
}

.Height75px {
    height: 75px;
}
.Width6px {
    width: 6px;
} */
.Width60px {
    width: 60px;
}
.Width75px {
    width:75px ;
}

.paddingTop0 {
    padding-top: 0 !important;
}

.paddingBottom0 {
    padding-bottom: 0 !important;
}
@media screen and (max-width: 727px){
    .positionAbsolute {
        bottom: -8px;
    }

}



@media screen and (min-width: 639px){

    .sboederLeftGreen{
        border-left: solid 2px #ADFF2F;
    }

    .sPadding1Rem {
        padding: 1rem;
    }

    aside{ width: 230px;

    }
    .s-AlignItemsFlexStart{
        align-items: flex-start;
    }

    #logo-small{
        display: none;
    }
    #Logo {
        display: block;
        height: 44px;
        width: auto;
        margin-bottom: 1.5rem;
       
    }
    .lineHeight26px {
        line-height: 26px;
    }
    .verticalAlignSuper {
        vertical-align: super;
    }
    .verticalAlignBAseline {
        vertical-align: baseline;
    }
    .marginBottom-4px{
        margin-bottom: -4px;
    }
    aside span {
        display: inline;
    }
    .sDisplayFlex {
        display: flex;
    }
    .s-justifyContentFlexStart {
        justify-content: flex-start;
    }
    .squareAddPlaylist {
        height: 40px;
        width: 40px;
        background-color: #797C80;

    }
    .sPadding1Rem{
        padding: 1rem;
    }
    .height60px {
        height: 40px;
    }
    .sDisplayBlock {
        display: block;
    }
    .sRow{
        flex-direction: row;
    }


    /* .sHeight6px{
        height: 6px;
    } */

    .sjustifyContentFlexEnd {
        justify-content: flex-end;
    }
    
}


@media screen and (min-width: 860px) {
    .cardSong {
        width: calc(100% / 4 - 1rem);
    }

}

@media screen and (min-width: 1100px) {
    .cardSong {
        width: calc(100% / 6 - 1rem);
    }
}

@media screen and (min-width: 1800px) {
    .cardSong {
        width: calc(100% / 8 - 1rem);
    }
}

@media screen and (min-width: 2400px) {
    .cardSong {
        width: calc(100% /  - 1rem);
    }
}

